.footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #333;
}

.footer-content h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #6a5cff;
}

.footer-content p {
  font-size: 14px;
  color: #ccc;
}
